<!--
Author: Connor
Purpose: partial page; footer
Description: at the bottom of every webpage, copyright, links to github and FB
-->
</div>
<footer>
    <p>&copy; 2016 - Connor Hadley</p>
    <ul>
        <li>
            <p>Github Page  </p>
            <p>Facebook Page</p>
        </li>
        <li>
            <a href="https://github.com/farandbeyond">farandbeyond</a>
            <a href="https://www.facebook.com/connor.hadley.37">Connor Hadley</a>
        </li>
    </ul>
</footer>
</body>
</html>