<!DOCTYPE HTML>
<html>

<head>
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">

    <title><%= title %></title>
</head>
<body>
<nav>
    <ul class="navbar">
        <li class="mainNav"><a href="/">Index</a></li>
        <li class="mainNav"><a href="/">__</a></li>
        <li class="mainNav"><a href="/">__</a></li>
        <li class="mainNav"><a href="/">__</a></li>
        <li class="mainNav"><a href="/">__</a></li>
    </ul>
</nav>