<!DOCTYPE HTML>
<html>

<head>
    <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">

    <title><%= title %></title>
</head>
<body>

    <nav>
        <ul class="navbar">
            <li <% if(pageNum==1){ %>class="active"<%}%> ><a href="/">Index</a></li>
            <li <% if(pageNum==2){ %>class="active"<%}%> ><a href="/aboutme">About Me</a></li>
            <li <% if(pageNum==3){ %>class="active"<%}%> ><a href="/projects">Projects</a></li>
            <li <% if(pageNum==4){ %>class="active"<%}%> ><a href="/services">Services</a></li>
            <li <% if(pageNum==5){ %>class="active"<%}%> ><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="afterNav">