<!DOCTYPE HTML>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<nav>
    <ul class="navbar">
        <li><a href="/">Index</a></li>
        <li><a href="/">__</a></li>
        <li><a href="/">__</a></li>
        <li><a href="/">__</a></li>
        <li><a href="/">__</a></li>
    </ul>
</nav>