<%- include partials/head.ejs %>
<!--
Author: Connor
Purpose: about me page
Description: lists some personal and portfolio details about me
-->
<h1 class="title"><%= title %></h1>
    <p>As stated on the homepage, I am a second year COPR student at georgian college.</p>
    <p>My main language is Java, but i am experienced in Python, C++, C#, HTML, CSS, Javascript, to name a few.</p>
    <p>I seek to become a game programmer, and many of my current and previous projects reflect this.</p>
<%- include partials/foot.ejs %>