<!--
Author: Connor
Purpose: Homepage
Description: Welcome page
-->


<%- include partials/head.ejs %>
    <h1 class="title"><%= title %></h1>
    <p>My name is Connor Hadley. I am a 2nd year programming student with georgian college.</p>
    <p>You can learn more about me by the tabs above.</p>
<%- include partials/foot.ejs %>
