body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}


html{
    background-color: #00B7FF;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
    background-color: #333;
}
ul.navbar li {
    display: inline;
    float: left;
}
ul.navbar li.active{
    background-color: aqua;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1.title{
    display: flex;
}